.about {
    position: relative;
    padding: 70px 0 35px;
    overflow: hidden;
    margin-top: -35px;

    &__bg {

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__title {
        @include font-size(53);
    }

    &__text {
        @include font-size(26);
    }

    @include media-breakpoint-up(lg) {
        padding: 150px 0 50px;
        margin-top: -100px;

        &__bg {
            img {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__bg {
            img {
                object-position: left center;
            }
        }
    }
}