@font-face {
    font-family: 'DB HelvethaicaMon X Bd';
    src: url('../fonts/DBHelvethaicaMonX-Bd.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaMonX-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}