header {
    background-color: $header-bg;

    .navbar {
        padding-left: 0;
        padding-right: 0;

        &-brand {
            margin-right: 0;
        }

        &-toggler {
            border-width: 0;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .nav {
            &-link {
                white-space: nowrap;
                @include font-size(40);
            }
        }

        .offcanvas-collapse {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 100%;
            width: auto;
            padding: 20px 64px;
            overflow-y: auto;
            visibility: hidden;
            background-color: rgba($black, .9);
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            .close {
                position: absolute;
                top: 0;
                left: 1rem;
                @include font-size(100);
                text-shadow: none;
                color: $white;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(100%);
        }
    }
}