.top {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__content,
    &__nav {
        position: relative;
    }

    &__content {
        text-align: center;
        padding: calc(86px + 24px) 0 0;

        &-bg img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;

        }

        &-title {
            @include font-size(90);
            margin-bottom: 1.5rem;

            small {
                @include font-size(30);
            }
        }

        &-btn {
            max-width: 505px;
            margin: 0 auto 1rem;
        }

        &__items {
            display: flex;
            justify-content: center;

            &-item {
                padding: 0 20px;
                position: relative;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:not(:last-child)::before {
                    content: '';
                    position: absolute;
                    top: 10%;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background: url('../img/top-separate.png') no-repeat center top/contain;
                }
            }

            &-icon {
                display: block;
                margin-bottom: -.5rem;
            }

            &-text {
                @include font-size(19);
            }
        }
    }

    &__nav {
        background: url('../img/top-nav-bg.png') repeat-x center center/auto 100%;
        text-align: center;
        padding-bottom: 1.5rem;

        >.container {
            display: flex;
        }

        &-link {
            flex-basis: 0;
            flex-grow: 1;
            padding: 1rem .25rem;
            position: relative;

            &:not(:last-child)::before {
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                width: 1px;
                height: 100%;
                background: url('../img/top-nav-separate.png') no-repeat center top/contain;
            }

            &:not(:hover) {
                color: $white;
            }

            &:hover {
                .top__nav-icon {
                    filter: saturate(1.5);
                }
            }
        }

        &-text {
            display: block;
            @include font-size(32);
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            padding: calc(147px + 40px) 0 40px;
        }
    }

    @include media-breakpoint-down(md) {
        &__content {
            &__items {
                &-text {
                    @include font-size(15);
                }
            }
        }
    }
}