@import './fonts';
@import './variables';
@import './bootstrap/bootstrap.scss';

// Components
@import './top';
@import './about';
@import './buttons';
@import './slot';
@import './casino';

// Layout
@import './header';
@import './footer';

// Pages
@import './pages/index';
@import './pages/promotion';
@import './pages/blog';
@import './pages/contact';

html,
body {
    position: relative;
    overflow-x: hidden;
}