.main__index {
    .promotion {
        position: relative;
        background-color: $body-bg;
        padding-bottom: 2rem;

        &::before {
            content: '';
            position: absolute;
            top: -1rem;
            left: 0;
            right: 0;
            height: 1rem;
            background: $promotion-bg;
        }

        &__card {
            position: relative;
            filter: drop-shadow(0 2rem 2rem $secondary);

            * {
                position: relative;
            }
        }

        @include media-breakpoint-down(md) {
            &__card {
                &-btn {
                    .btn {
                        font-size: .5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }

    .slot,
    .casino {
        padding: 1rem 0;
        position: relative;

        &__item {
            display: block;
            position: relative;
            margin-bottom: 1rem;
            filter: drop-shadow(0 2rem 2rem $secondary);

            &-img {
                width: 100%;
            }

            &:hover {
                filter: saturate(1.5) brightness(1.1);
            }
        }
    }
}